body{
  background-color: #2a2a2a;
  margin:0;
  padding: 0;
}

body * {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

h1{
  margin: 1rem 0;
  padding: 0 0 0.5rem 0;
  color: #fff;
  border-bottom: 1px solid grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.contentForm{
  width: 100%;
  max-width: 1024px;
  margin: 2rem auto;
  height: auto;
  background-color: #000;
  border-radius: 5px;
  white-space: nowrap;
  padding: 2rem 1rem 2rem 1rem;
  
}

.contentForm__group{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(71 71 71 / 54%);
  border-radius: 10px;
  padding: 1.3rem;
  margin: 1rem 0;
  color: #fff;
}
.contentForm__group label{
  width:35%;
  letter-spacing: 1px;
}
.contentForm__group input{
  width: 40%;
  height: 35px;
  border-radius: 5px;
  border:none;
  padding: 5px 10px;
  margin-right:10px;
}

.contentForm__buttom{
  border-radius: 10px;
  padding: 15px 20px;
  background-color: aqua;
  color: #fff;
}

.contentForm__btn{
  display: block;
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #3e3e3e;
  color: #fff;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.contentForm__btn:hover{
  background: #2f2f2f;
}

.contentForm__btn-reset{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #545454;
  color: #fff;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin: 1rem 0;
}

.contentForm__btn-reset:hover{
  background: #2f2f2f;
  margin: 1rem 0;
}

.resData ul{
  list-style: none;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 0;
}

.resData ul h4{
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
  padding-bottom: 17px;
  margin: 2rem 0 0 0;
}

.resData ul li{
  padding:1rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

input::placeholder {
  color: rgb(165, 165, 165);
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: 1px;
}

.validation-errors{
  color: rgb(255, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: block;
  padding: 0 0 10px 10px;
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav{
  width: 100%;
  height: 60px;
  display: block;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  padding: 0.5rem 2rem;
  box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
}

.nav p{
  letter-spacing: 2px;
  margin-right: 16px;
}